body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 180px;
}

.top-wrapper {
  padding: 170px 0 10px 0;
  background-image: url(https://lh6.googleusercontent.com/0sbQQlUx0GVUGblpf6AF4cuUGgfwZ664rV6ZewOxs8a4Qmkzi8AyhRDeOQlOqj1x4NHG-g);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  margin: 0px;
  font-family: "Hiragino Maru Gothic ProN";
  font-size: 90px;
  font-weight: 400;
}

.top-wrapper p {
  padding-top: 0px;
  margin: 0px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 23px;
  font-weight: 300;
}

.name {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 45px;
  font-weight: 300;
}

.btn {
  color: white;
}

.about {
  padding-right: 125px;
}

.contact {
  padding-left: 98px;
}

.top-btn {
  font-size: 30px;
}